/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset browsers font-size to 10px */
html {
    font-size: 62.5%;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #00A8FF;
    height: 100%;
    padding: 50px 0;
}

/* Header */

header {
    text-align: center;
    margin-bottom: 4rem;
}

.logo {
    color: #ffffff;
    font-size: 5rem;
}

/* Container */

.container {
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto 10rem auto;
    padding: 5rem;
    box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, 0.2);
}

/* Profile Section */

.section-profile {
    border-radius: 5px;
    text-align: center;
    display: none;
}

.profile-text {
    margin-bottom: 4rem;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.section-profile p {
    color: #555;
    font-size: 1.6rem;
}

.profile-form {
    text-align: left;
}

.profile-form label {
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.profile-form input {
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    border: 1px solid #333;
    padding: 10px 5px;
    display: inline-block;
    width: 50%;
    flex-basis: 65%;
}

.profile-form div {
    display: flex;
    justify-content: space-between;
}

.profile-form button {
    color: #fff;
    border: none;
    background-color: #00A8FF;
    cursor: pointer;
    flex-basis: 30%;
    padding: 10px;
    font-size: 1.6rem;
}

.profile-form button:hover {
    background-color: #008acf;
}

.profile-form input:focus,
.profile-form input:active {
    outline-color: #00A8FF;
}

.todo-list {
    margin-bottom: 2.5rem;
    list-style: none;
    overflow-y: auto;
    max-height: 150px;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.todo-item:not(:last-child) {
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    margin-bottom: 2rem;
}

.todo-checkbox {
    background-color: #37FF8B !important;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.todo-name {
    font-size: 1.6rem;
    text-transform: capitalize;
    flex-basis: 70%;
}

.todo-name-checked {
    color: #37FF8B;
    text-decoration: line-through;
}

.todo-delete {
    color: #FF5964;
    font-size: 1.6rem;
    cursor: pointer;
}

.todo-delete:hover {
    color: #ff3946;
}

/* Todo List Section */

.section-todo-list {}

.todo-header {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}

.todo-header h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.todo-header .date {
    color: #555;
    font-size: 1.6rem;
}

.todo-form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
}

.todo-form input {
    font-size: 1.6rem;
    font-family: inherit;
    padding: 1rem;
    flex-basis: 80%;
}

.todo-form input:focus,
.todo-form input:active {
    outline-color: #00A8FF;
}

.todo-form button {
    background-color: #00A8FF;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.todo-form button:hover {
    background-color: #008acf;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.todo-form button i {
    color: #fff;
    font-size: 2.5rem;
}

/* Footer */

footer {
    text-align: center;
}

footer p {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #eaeaea;
}

.social-icons a {
    margin-right: 2rem;
}

footer i {
    font-size: 2.4rem;
}